// Header
// -----------------------------------------------------
#site-header {
    .navbar-wrapper {
        a {
            color: #fff;
        }
        position: absolute;
        margin-top: 40px;
        top: 0;
        right: 0;
        left: 0;
        z-index: 20;
        .brand {
            font-size: $font-size-large;
            .icon-wrapper {
                position: relative;
                width: 44px;
                height: 44px;
                background: url('../img/navbar_brand.png') no-repeat;
                @include image-2x('../img/navbar_brand2x.png',
                44px,
                44px);
                span {
                    position: absolute;
                    top: 5px;
                    left: 55px;
                    z-index: 30;
                }
            }
        }
        nav {
            padding-top: 8px;
            ul {
                li {
                    
                    &:first-child {
                        margin-right: 30px;
                    }
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    display: inline-block;
                    a {
                        position: relative;
                        span:first-child {
                            font-size: 20px;
                            position: absolute;
                            top: -4px;
                            left: -30px;
                            z-index: 35;
                        }
                    }
                }
            }
        }
    }
}