// Header
// -----------------------------------------------------
#site-header {
    .navbar-wrapper {
        a {
            color: #fff;
        }
        position: absolute;
        margin-top: 40px;
        top: 0;
        right: 0;
        left: 0;
        z-index: 20;
        .brand {
            font-size: $font-size-large;
            .icon-wrapper {
                position: relative;
                width: 44px;
                height: 44px;
                background: url('../img/navbar_brand.png') no-repeat;
                @include image-2x('../img/navbar_brand2x.png',
                44px,
                44px);
                span {
                    position: absolute;
                    top: 5px;
                    left: 55px;
                    z-index: 30;
                }
            }
        }
        nav {
            padding-top: 8px;
            ul {
                padding: 0;
                margin: 0;
                li {
                    list-style: none;
                    display: inline-block;
                    a {
                        i {
                            font-size: 21px;
                            margin-right: 3px;
                        }
                        .fa {
                            &:before {
                                vertical-align: -8%;
                                display: inline-block;
                            }
                        }
                        .fa-file-text {
                            font-size: 17px;
                        }
                        &:hover,
                        &:focus,
                        &.focus {
                            opacity: 0.5;
                            text-decoration: none;
                        }
                    }
                    
                    &:first-child {
                        margin-right: 20px;
                        
                        @media screen and (max-width: $screen-xs-max) {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}