// Technologies
// -----------------------------------------------------
.technologies {
    padding-top: ($section-padding / 2.8);
    padding-bottom: ($section-padding / 2);
    background: $brand-secondary;
    .scala-icon-wrapper,
    .android-icon-wrapper,
    .database-icon-wrapper {
        float: left;
        margin-top: 0;
        width: 40px;
        height: 40px;
        opacity: $icon-technologies-color;
        @media screen and (min-width: $screen-md-min) {
            margin-top: 26px;
        }
    }
    .scala-icon-wrapper {
        background: url('../img/icon_scala.png') no-repeat;
        @include image-2x('../img/icon_scala2x.png',
        40px,
        40px);
    }
    .android-icon-wrapper {
        background: url('../img/icon_android.png') no-repeat;
        @include image-2x('../img/icon_android.png',
        40px,
        40px);
    }
    .database-icon-wrapper {
        background: url('../img/icon_database.png');
        @include image-2x('../img/icon_database.png',
        40px,
        40px);
    }
    h3,
    p {
        padding-left: 60px
    }
    h3 {
        font-size: floor(($font-size-h3 / 1.5));
        margin-bottom: 8px;
        color: $headings-technologies-color;
    }
    p {
        font-size: $technologies-font-size-base;
        color: $text-technologies-color;
    }
}