// Footer
// -----------------------------------------------------
#site-footer {
    padding: $footer-padding 0;
    background: $brand-tertiary;
    p {
        font-size: $footer-font-size-base;
        margin: 0;
        color: $text-footer-color;
        a {
            position: relative;
            color: $link-footer-color;
            span {
                font-size: 17px;
                position: absolute;
                top: -2px;
                left: -26px;
                z-index: 35;
            }
        }
    }
}